<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idgcapital.rfund.secondary.dao.FooMapper" >
  <resultMap id="BaseResultMap" type="com.idgcapital.rfund.secondary.model.Foo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from foo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.idgcapital.rfund.secondary.model.Foo" >
    insert into foo (id, title)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.idgcapital.rfund.secondary.model.Foo" >
    update foo
    set title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, title
    from foo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, title
    from foo
  </select>
</mapper>